<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    

    <title>Cursos Online!</title>
  </head>
  <body>

<!--Acerca de nosotros
  
    <div class="container mt-5">
        <h1>UserMangemanent</h1>
        <a routerLink="crear" class="btn btn-success">crear</a>
       &nbsp;   
        <a routerLink="leer" class="btn btn-primary" >Leer</a>
        &nbsp;   
        <a routerLink="home" class="btn btn-primary" >home</a>
        &nbsp;   
        
    </div> -->
    
    <router-outlet></router-outlet>
    
    
  </body>
  
</html>
